# Unreal Engine projekt .gitignore

# Binárisok és buildelt fájlok
Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.suo
*.user
*.userprefs
*.sln
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Ideiglenes fájlok
*.log
*.tlog
*.vspscc
*.pidb
*.scc

# Visual Studio
.vscode/
.vs/

# Platform specifikus cache
*.pdb
*.obj
*.exe
*.dll
*.app
*.dSYM/

# Build és Config cache
Build/

#Downloaded content
/Content/AncientTreasures/**
/Content/Construction_VOL2/**
/Content/KoreanRailroadMika3-161/**
/Content/KT_SmartMat_Vol_1/**
/Content/LevelPrototyping/**
/Content/Military_Free/**
/Content/OldWest/**
/Content/ParagonKallari/**
/Content/PresidentialCoach/**
/Content/Weapons/**